@model List<SDP.Models.product>

@{
    ViewData["Title"] = "SearchProduct";
}

<h1>SearchProduct</h1>

<div>
    <h4>product</h4>
    <hr />

    <table>
        <tr>
            <th>ProductId</th>
            <th>Name</th>
            <th>Category</th>
            <th>Original Price</th>
            <th>MRP</th>
            <th>Quantity</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var product in Model)
        {
    <tr>
        <td>@product.productId</td>
        <td>@product.Name</td>
        <td>@product.Category</td>
        <td>@product.originalPrice</td>
        <td>@product.MRP</td>
        <td>@product.Quantity</td>
       @*<td><a asp-action="Edit" asp-route-id="@Model.productId">Edit</a></td>
       <td><a asp-action="Delete" asp-route-id="@Model.productId">Delete</a> </td>*@
    </tr>
        }
    </table>
    
</div>

