@model IEnumerable<SDP.Models.product>
@{
    ViewData["Title"] = "ViewProducts";
    Layout = null;
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="/img/core-img/favicon.ico">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="/js/push.min.js"></script>
    <script src="/js/serviceWorker.min.js"></script>
    <script>
        function start() {
            @*if (@ViewBag.ProductName != null) {*@

                Push.create("Shop Store", {
                    body: "@ViewBag.ProductName is available now!!!",
                    icon: 'https://i.pinimg.com/originals/4b/a7/d8/4ba7d8d3c62e961494a50de2f61b2cc8.jpg',
                    timeout: 4000,
                    onClick: function () {
                        window.focus();
                        this.close();
                    }
                });

            
        }
    </script>

</head>
<body onload="start()">

    <header class="header-area">
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <a href="index.html" class="nav-brand"><img src="/img/core-img/logo.png" alt=""></a>

                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <div class="classy-menu">

                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <div class="classynav">

                                <ul>
                                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>

                                    @*<li>
                                        <a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                                            <li><a asp-action="Index">Albums</a></li>
                                            <li><a href="event.html">Events</a></li>
                                            <li><a href="blog.html">News</a></li>
                                            <li><a asp-action="Index">Contact</a></li>
                                            <li><a asp-action="Index">Elements</a></li>

                                        </ul>

                                    </li>*@
                                    <li><a asp-action="Contact" asp-controller="Customer">Contact</a></li>
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <li>
                                            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello Admin</a>
                                        </li>
                                        <li>
                                            <form class="form-inline" asp-action="Logout" asp-controller="Account" method="post">
                                                <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
                                            </form>
                                        </li>
                                    }
                                    @if (ViewBag.Email != null)
                                    {
                                        <li><a asp-action="Profile" asp-controller="Customer">@ViewBag.Email</a></li>
                                        <li>
                                            <form class="form-inline" asp-action="Logout" asp-controller="Account" method="post">
                                                <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
                                            </form>
                                        </li>
                                    }
                                    @if (!(SignInManager.IsSignedIn(User)) && ViewBag.Email == null)
                                    {
                                        <li><a asp-action="login" asp-controller="account">Login</a></li>
                                    }
                                </ul>
                                @*<partial name="_LoginPartial" />*@
                            </div>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p>See what’s new</p>
            <h2>Products</h2>
        </div>
    </section>
    <section class="events-area section-padding-100">
        <link rel="stylesheet" href="~/css/ViewProducts.css">
        <div class="container mydiv">
            <div class="row">
                @foreach (var arr in Model)
                {
                    var photoPath = "~/img/" + (arr.Photopath);
                    <div class="col-md-4">
                        <!-- bbb_deals -->
                        <div class="bbb_deals">
                            <div class="ribbon ribbon-top-right"><span><small class="cross">x </small>4</span></div>
                            <div class="bbb_deals_title">Today's Combo Offer</div>
                            <div class="bbb_deals_slider_container">
                                <div class=" bbb_deals_item">
                                    <div class="bbb_deals_image"><img src="@photoPath " asp-append-version="true"></div>
                                    <div class="bbb_deals_content">
                                        <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                            <div class="bbb_deals_item_category"><a href="#">@Html.DisplayFor(x => arr.Category)</a></div>
                                            <div class="bbb_deals_item_price_a ml-auto"><strike>Discount</strike></div>
                                        </div>
                                        <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                            <div class="bbb_deals_item_name">@Html.DisplayFor(x => arr.Name)</div>
                                            <div class="bbb_deals_item_price ml-auto">₹@Html.DisplayFor(x => arr.MRP)</div>
                                        </div>
                                        <div class="available">
                                            <div class="available_line d-flex flex-row justify-content-start">
                                                <div class="available_title">Available: <span>@Html.DisplayFor(x => arr.Quantity)</span></div>
                                                <div class="sold_stars ml-auto"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                                            </div>
                                            <div class="available_bar"><span style="width:17%"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <a href="#"><img src="/img/core-img/logo.png" alt=""></a>
                    <p class="copywrite-text">
                        <a href="#"></a>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | Dhruval Gandhi <i class="fa fa-heart-o" aria-hidden="true"></i>
                    </p>
                </div>

                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="#">Home</a></li>

                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/plugins/plugins.js"></script>
    <script src="/js/active.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/particles.min.js"></script>

    <script src="/js/particle.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @*@if (IsSectionDefined("Scripts"))
        {
            @RenderSection("Scripts", required: true)

        }*@

</body>
</html>
