@model IEnumerable<SDP.Models.Order>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" style=" background-color: black;">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="/img/core-img/favicon.ico">
    <link rel="stylesheet" href="~/css/style.css">


</head>
<body>

    <header class="header-area">
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <a href="index.html" class="nav-brand"><img src="/img/core-img/logo.png" alt=""></a>

                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <div class="classy-menu">

                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <div class="classynav">

                                <ul>
                                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>

                                    <li>
                                        <a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                                            <li><a asp-action="Index">Albums</a></li>
                                            <li><a href="event.html">Events</a></li>
                                            <li><a href="blog.html">News</a></li>
                                            <li><a asp-action="Index">Contact</a></li>
                                            <li><a asp-action="Index">Elements</a></li>

                                        </ul>

                                    </li>
                                    <li><a asp-action="Contact" asp-controller="Home">Contact</a></li>

                                    @if (ViewBag.Email != null)
                                    {
                                        <li><a asp-action="Profile" asp-controller="Customer">@ViewBag.Email</a></li>
                                        <li>
                                            <form class="form-inline" asp-action="Logout" asp-controller="Account" method="post">
                                                <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
                                            </form>
                                        </li>
                                    }
                                    @if (ViewBag.Email == null)
                                    {
                                        <li><a asp-action="login" asp-controller="account">Login</a></li>
                                    }
                                </ul>
                                @*<partial name="_LoginPartial" />*@
                            </div>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="container bootstrap snippets bootdeys  events-area section-padding-100" style="margin-top:135px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default invoice" id="invoice">
                    <div class="panel-body" id="invoice">
                        <div class="invoice-ribbon">
                            <div class="ribbon-inner">PAID</div>
                        </div>

                        <div class="row">

                            <div class="col-sm-6 top-left">
                                <i class="fa fa-rocket"></i>
                            </div>

                            <div class="col-sm-6 top-right">
                                <h3 class="marginright">Profile</h3>
                            </div>

                        </div>
                        <hr>


                        <div class="row table-row">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:50%">Item</th>
                                        <th class="text-right" style="width:15%">Quantity</th>
                                        @*<th class="text-right" style="width:15%">Unit Price</th>*@
                                        <th class="text-right" style="width:15%">Total Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var count = 0; }
                                    @foreach (var order in Model)
                                    {
                                        if (order.customerId == ViewBag.customerId)
                                        {
                                            count = count + 1;
                                            <tr>
                                                <td class="text-center">@count</td>
                                                <td>@order.ProductName</td>
                                                <td class="text-right">@order.Quantity</td>
                                                <td class="text-right">@order.Price</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                        <div>
                            <div class="col-xs-6 margintop">

                                <button class="btn btn-success" id="download"><i class="fa fa-print"></i> Print Invoice</button>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        window.onload = function () {
            document.getElementById("download")
                .addEventListener("click", () => {
                    const invoice = this.document.getElementById("invoice");
                    console.log(invoice);
                    console.log(window);
                    var opt = {
                        margin: 1,
                        filename: 'myfile.pdf',
                        image: { type: 'jpeg', quality: 0.98 },
                        html2canvas: { scale: 2 },
                        jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                    };
                    html2pdf().from(invoice).set(opt).save();
                })
        }
    </script>
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <a href="#"><img src="/img/core-img/logo.png" alt=""></a>
                    <p class="copywrite-text">
                        <a href="#"></a>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | Dhruval Gandhi <i class="fa fa-heart-o" aria-hidden="true"></i>
                    </p>
                </div>

                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="#">Home</a></li>

                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/plugins/plugins.js"></script>
    <script src="/js/active.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/particles.min.js"></script>

    <script src="/js/particle.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @*@if (IsSectionDefined("Scripts"))
        {
            @RenderSection("Scripts", required: true)

        }*@

</body>
</html>